* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ubuntu', cursive; }

.encabezado {
  width: 100%; }

.barra {
  transition: all 2s;
  background-color: #889dc9;
  font-size: larger; }

.submenu {
  background-color: #a3abbb81; }

.grises {
  width: 25%; }
  .grises:hover {
    filter: grayscale(100%);
    transition: 1s; }

.mapa {
  width: 100%;
  height: 50%;
  transition: all 3s; }
  .mapa:hover {
    height: 150%;
    border-radius: 4%; }

hr {
  margin-top: 2%; }

.galeria {
  margin-top: 3%;
  margin-left: 3%;
  border: 1px outset;
  background-color: #889dc9;
  padding: 1%;
  border-radius: 2%;
  width: 40%; }
  .galeria img {
    width: auto; }

.noticias {
  margin-top: 3%; }
  .noticias .card {
    padding: 2%;
    width: 16rem; }

body {
  background-image: url("../Imagenes/back.jpg");
  background-size: cover; }

#formulario {
  display: inline-block;
  background-color: #FBEAFF;
  height: auto;
  width: 500px;
  margin-left: 3%;
  margin-top: 2%;
  border-radius: 5%; }

#formulario fieldset {
  padding: 7px; }

#formulario div {
  padding: 5px; }

#ubicacion {
  height: auto;
  margin-right: 1%;
  border-radius: 5%;
  margin-top: 2%; }

#conocenos__ubi {
  margin: 2%;
  width: 95%;
  height: 100%;
  transition: 3s;
  border-radius: 2%; }

.titulo {
  font-family: 'ubuntu', cursive;
  font-size: xx-large;
  text-align: center;
  background-size: contain;
  background-color: #8560b388;
  margin-top: 20px; }

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: overline;
  font-size: larger; }

#productos__img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: stretch; }
  #productos__img img {
    transition: 3s; }

.padreflex {
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  margin-top: 2%;
  margin-bottom: 2%; }

.contenedor {
  position: relative;
  text-align: center;
  overflow: hidden;
  transition: 4s;
  width: auto;
  align-self: center; }
  .contenedor:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    filter: opacity(0.8); }
  .contenedor:hover .centrado {
    font-size: x-large;
    font-style: oblique;
    color: #8560b388;
    transition: 3s; }

.galeria__pc {
  overflow: hidden;
  transition: 4s;
  margin-top: 3%;
  text-align: center;
  align-self: center;
  position: relative; }
  .galeria__pc .centrado {
    display: none; }
  .galeria__pc:hover a img {
    filter: opacity(0.5);
    transition: 4s; }
  .galeria__pc:hover .centrado {
    font-size: xx-large;
    display: flex;
    color: #8560b388;
    transition: 3s; }

.row {
  justify-content: space-around; }

@media screen and (max-width: 770px) {
  .grises {
    width: 15%;
    margin: 3%; }
  .galeria {
    width: 80%; }
  .noticias {
    width: 80%;
    padding: 2%;
    margin-left: 2%; }
  .contenedor {
    align-self: left;
    width: 98%;
    font-size: small; }
    .contenedor img {
      width: 98%; }
    .contenedor:hover .centrado {
      font-size: large; }
  .padreflex {
    width: 100%; }
  .titulo {
    font-size: medium; }
  #ubicacion {
    display: none; }
  #formulario {
    width: 400px;
    margin: 0%;
    padding: 0%; } }

@media screen and (max-width: 320px) {
  .titulo {
    font-size: small; }
  #ubicacion {
    display: none; }
  #formulario {
    width: 320px;
    margin: 0%;
    padding: 0%; } }
