* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oleo Script', cursive;
}

.encabezado {
    width: 100%;
}
.barra{
    transition: all 2s;
}
.barra:hover {
    background-color: rgba(92, 30, 235, 0.377);
}
footer img{
    width: 20%;
}
.mapa{
    width: 100%;
    height: 50%;
    transition: all 5s;
}
.mapa:hover{
    height: 150%;
}
hr{
    padding: 2%;
}
.galeria{
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
    border: 1px outset aquamarine;
}
body{
    background-image:url("../Imagenes/back.jpg");
    background-size: cover;
}

#formulario{
    display: inline-block;
    background-color: white;
    height: auto;
    width: 550px;
    margin-left: 3%;
    margin-top: 2%;
}
#formulario fieldset{
    padding: 7px;
}
#formulario div{
    padding: 5px;
}
#ubicacion{
    margin-right: 1%;
}
#tituloturnos{
    font-family: 'Nanum Pen Script', cursive;
    font-size: xx-large;
    text-align: center;
    background-size: contain;
    background-color: rgba(92, 30, 235, 0.082);
    margin-top: 20px;
}
