* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ubuntu', cursive;
}

.encabezado {
    width: 100%;
}

.barra {
    transition: all 2s;
    margin-top: 2%;
    color: black;
    font-size: large;

    &:hover {
        background-color: #C4ACE1;
        font-size: larger;
    }
}

.grises {
    width: 25%;

    &:hover {
        filter: grayscale(100%);
        transition: 1s;
    }
}

.mapa {
    width: 100%;
    height: 50%;
    transition: all 3s;

    &:hover {
        height: 150%;
        border-radius: 4%;
    }
}

hr {
    margin-top: 2%;
}

.galeria {
    margin-top: 3%;
    margin-left: 3%;
    border: 1px outset;
    background-color: #889dc9;
    padding: 1%;
    border-radius: 2%;
    width: 40%;
}

.noticias {
    margin-top: 3%;

    .card {
        padding: 2%;
        width: 16rem;
    }
}

body {
    background-image: url("../Imagenes/back.jpg");
    background-size: cover;
}

#formulario {
    display: inline-block;
    background-color: #FBEAFF;
    height: auto;
    width: 550px;
    margin-left: 3%;
    margin-top: 2%;
    border-radius: 5%;
}

#formulario fieldset {
    padding: 7px;
}

#formulario div {
    padding: 5px;
}

#ubicacion {
    height: auto;
    margin-right: 1%;
    border-radius: 5%;
    margin-top: 2%;
}

#conocenos__ubi {
    margin: 2%;
    width: 95%;
    height: 100%;
    transition: 3s;
    border-radius: 2%;
}

.titulo {
    font-family: 'ubuntu', cursive;
    font-size: xx-large;
    text-align: center;
    background-size: contain;
    background-color: rgba(92, 30, 235, 0.082);
    margin-top: 20px;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: overline;
    font-size: larger;
}

#productos__img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: stretch;
    align-self: center;
}

.padreflex {
    display: flex;
    flex-direction: row;
    margin-right: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: space-between;
}

#productos__img img {
    width: 100%;
    transition: 4s;
}

.contenedor {
    position: relative;
    text-align: center;
    overflow: hidden;
    transition: 4s;
    width: max-content;
    align-self: center;

    &:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        filter: opacity(0.8);
    }

    &:hover .centrado {
        font-size: x-large;
        color: #9A60F8;
        transition: 3s;
    }
}

.row {
    justify-content: space-around;
}

@media screen and (max-width: 770px) {
    .grises {
        width: 15%;
        margin: 3%;
    }

    .galeria {
        width: 80%;
    }

    .noticias {
        width: 80%;
        padding: 2%;
        margin-left: 2%;
    }
}